In [27]:
#Daniel Alejandro Ruiz Velasco 1813937 IMTC

#EJERCICIO 1

print('Escribe tu nombre aquí') 
name = input()   

if name == 'Ana':
  print('No eres bienvenida aqui, Ana.')
  
if name == 'Juan':
 print('No eres bienvenido aqui, Juan.' )
  
if name == 'Pedro':
  print('No eres bienvenido aqui, Pedro.')
  
else:
  print('Bienvenido,{}'.format(name))

Escribe tu nombre aquí
Daniel
Bienvenido,Daniel

In [31]:
#Daniel Alejandro Ruiz Velasco 1813937 IMTC

#EJERCICIO 2

numbers = [66, 78, 2, 45, 97, 17, 34, 105, 44, 52]

print(numbers)

idx = len(numbers) - 1 #Se utilizo un bucle de tiempo sobre la lista impresa  
newList = []           #para obtener su inverso

while (idx >= 0):
  newList.append(numbers[idx]) #Se usa while para almacenar e iterar cada 
  idx = idx - 1                #elemento de la lista

print(newList)

[66, 78, 2, 45, 97, 17, 34, 105, 44, 52]
[52, 44, 105, 34, 17, 97, 45, 2, 78, 66]

In [11]:
#Daniel Alejandro Ruiz Velasco 1813937 IMTC

#EJERCICIO 3

marco = ["*****************","* HOLA *", "* ME   *","* LLAMO*", "* DANIEL*", "* Y     *", "* ESTE *", "* ES *", "* UN *", "*MARCO*","*****************"]
for x in marco: 
  print (x)

*****************
* HOLA *
* ME   *
* LLAMO*
* DANIEL*
* Y     *
* ESTE *
* ES *
* UN *
*MARCO*
*****************